[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
loguru = "*"

[dev-packages]
black = {extras = ["d"], version = "*"}
mypy = "*"
ruff = "*"

[requires]
python_version = "3.9"
