{% extends "layouts/layout.html" %}
{% block  content %}
<!-- Header -->
<header class="ex-header bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1 class="green">T2 Corail - 59€/nuit</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Basic -->
<div class="ex-basic-1 bg-gray pb-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Image Slider Room -->
                <div class="slider-container">
                    <div class="swiper-container image-slider-room">
                        <div class="swiper-wrapper">

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <a class="popup-link" href="../images/villafleurie_t2_chambre.jpg"
                                       data-effect="fadeIn"><img
                                            class="img-fluid" src="../images/villafleurie_t2_chambre.jpg"
                                            alt="alternative"></a>
                                </div>
                            </div>
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <a class="popup-link" href="../images/villafleurie_t2_chambre_2.jpg"
                                       data-effect="fadeIn"><img
                                            class="img-fluid" src="../images/villafleurie_t2_chambre_2.jpg"
                                            alt="alternative"></a>
                                </div>
                            </div>
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <a class="popup-link" href="../images/villafleurie_t2_salon_1_wl81yXI.jpg"
                                       data-effect="fadeIn"><img
                                            class="img-fluid" src="../images/villafleurie_t2_salon_1_wl81yXI.jpg"
                                            alt="alternative"></a>
                                </div>
                            </div>
                            <!-- end of slide -->
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <a class="popup-link" href="../images/villafleurie_t2_salon_2.jpg"
                                       data-effect="fadeIn"><img
                                            class="img-fluid" src="../images/villafleurie_t2_salon_2.jpg"
                                            alt="alternative"></a>
                                </div>
                            </div>
                        </div> <!-- end of swiper-wrapper -->

                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper container -->
                </div> <!-- end of slider-container -->
                <!-- end of image slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->


<!-- Basic -->
<div class="ex-basic-1 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h2 class="mt-3 mb-4">Description</h2>
                <p class="mb-5">Chacune des chambres de la VillaFleurie a été conçue pour offrir la meilleure expérience
                    possible à de nombreux voyageurs, qu'ils soient à la recherche d'aventure ou qu'ils apprécient le
                    confort. Nous avons conçu les chambres en nous appuyant sur plus de 10 ans d'expérience et toute
                    l'équipe est très fière de ce que nous avons réalisé.</p>

                <div class="text-box mb-6">
                    <h3>Des chambres conçues pour le confort et la détente</h3>
                    <p>Les chambres sont conçues pour offrir les meilleurs niveaux possibles de confort et de
                        relaxation. Le design contemporain est basé sur des couleurs réconfortantes et parvient à plaire
                        à de nombreux types de personnalités. Les matériaux utilisés sont modernes et durables.</p>
                </div> <!-- end of text-box -->

                <ul class="list-unstyled list-icon-lg mb-5">
                    <li class="media">
                        <div class="list-icon bg-1">
                            <i class="fas fa-shower"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="list-item-title">Aménagements modernes</h3>
                            <p class="list-item-text">Les équipements et les chambres de VillaFleurie sont conçus pour
                                offrir les meilleurs niveaux possibles de confort et de relaxation. Le design est
                                contemporain, basé sur des couleurs réconfortantes, et parvient à séduire de nombreux
                                types de personnalités et de goûts. Les matériaux utilisés dans la
                                construction de VillaFleurie proviennent des meilleurs fournisseurs.</p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="list-icon bg-2">
                            <i class="fas fa-tv"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="list-item-title">Appareils électroménagers de qualité</h3>
                            <p class="list-item-text">Toute l'électronique est fonctionnelle et conçue pour offrir les
                                meilleurs niveaux de confort et de relaxation. Le design est contemporain, basé sur des
                                couleurs réconfortantes et parvient à séduire de nombreux types de personnalités et de
                                goûts. L'objectif principal de tous les appareils est d'offrir un grand confort à
                                l'intérieur.</p>
                        </div>
                    </li>
                </ul> <!-- end of list-unstyled -->

                <p class="mb-4">D'autres caractéristiques ont été conçues pour offrir les meilleurs niveaux possibles de
                    confort et de relaxation. Le design contemporain basé sur des couleurs réconfortantes et parvient à
                    séduire de nombreux types de personnalités et de goûts. Les matériaux utilisés dans la
                    construction de la villa sont modernes et durables.</p>

                <ul class="list-unstyled li-space-lg amenities mb-5">
                    <li class="media">
                        <i class="fas fa-shower"></i>
                        <div class="media-body"><strong>Réserve d'eau</strong> VillaFleurie est équipée d'une réserve
                            d'eau permettant de ne pas se soucier des éventuelles coupures d'eau
                        </div>
                    </li>
                    <li class="media">
                        <i class="fas fa-tv"></i>
                        <div class="media-body"><strong>TV LCD moderne</strong> pour les jours de pluie qu'il faut
                            passer à l'intérieur.
                        </div>
                    </li>
                    <li class="media">
                        <i class="fas fa-snowflake"></i>
                        <div class="media-body"><strong>Climatisation</strong> de pointe spécialement conçue pour créer
                            une température optimale
                        </div>
                    </li>
                </ul>
                <a class="btn-solid-reg mb-6" href="index.html">Réserver</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
{% endblock %}
