{% extends "layout.html" %}
{% block  content %}
<!-- Header -->
<header id="header" class="header">
    <!-- Header Slider -->
    <div class="swiper-container header-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide first">
            </div>
            <div class="swiper-slide second">
            </div>
            <div class="swiper-slide third">
            </div>
        </div> <!-- end of swiper-wrapper -->
    </div> <!-- end of swiper-container -->
    <!-- end of header slider -->

    <div class="text-container">
        <h1>VillaFleurie : L'expérience extraordinaire</h1>
        <a class="btn-solid-lg popup-with-move-anim" href="#header-details-lightbox">Réserver</a>
        <a class="btn-outline-lg page-scroll" href="#description">Découvrir</a>
    </div> <!-- end of text-container -->
</header> <!-- end of header -->
<!-- end of header -->


<!-- Header Lightbox -->
<!-- Lightbox -->
<div id="header-details-lightbox" class="lightbox-form zoom-anim-dialog mfp-hide">
    <div class="container">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-12">
                <p>Remplir et envoyer le formulaire pour réserver VillaFleurie</p>
                <!-- Booking Form -->
                <!-- autocomplete = off to avoid display problems in mobile view -->
                <form name="bookingForm" id="bookingForm" data-toggle="validator" data-focus="false" autocomplete="off"
                      action="/reservation.html" netlify>
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="name" name="name" required>
                        <label class="label-control" for="name">Nom complet</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control-input" id="email" name="email" required>
                        <label class="label-control" for="email">Adresse email</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="phone" name="phone" required>
                        <label class="label-control" for="phone">Numéro de téléphone</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="people" name="people" required>
                        <label class="label-control" for="people">Nombre de personnes</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control-select" id="room" name="room" required>
                            <option class="select-option" value="" disabled selected>Choisissez une chambre</option>
                            <option class="select-option" value="t2">T2 Corail</option>
                            <option class="select-option" value="t3">T3 Azur</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- readonly is enabled to avoid display problems in mobile view -->
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="start" name="start" readonly required>
                        <label class="label-control" for="start">Arrivée</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="end" name="end" readonly required>
                        <label class="label-control" for="end">Départ</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">Réserver</button>
                    </div>
                    <div class="form-message">
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
                <!-- end of booking form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of lightbox-form -->
<!-- end of lightbox -->
<!-- end of header lightbox -->


<!-- Description -->
<div id="description" class="slider-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="green">Découvrir VillaFleurie</h2>
                <p class="p-heading">Villa est un lieu de vacances unique situé sur le magnifique archipel de la
                    Guadeloupe, prête à accueillir des touristes en quête de tranquillité tout au long de l'année.</p>
            </div> <!-- end of col -->
            <div class="col-lg-12">

                <!-- Image Slider -->
                <div class="slider-container">
                    <div class="swiper-container image-slider">
                        <div class="swiper-wrapper">

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <a class="popup-link" href="../images/slide-about-1.jpg" data-effect="fadeIn"><img
                                            class="img-fluid" src="../images/slide-about-1.jpg" alt="alternative"></a>
                                </div>
                            </div>
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <a class="popup-link" href="../images/villafleurie_t3_chambre.jpg" data-effect="fadeIn"><img
                                            class="img-fluid" src="../images/villafleurie_t3_chambre.jpg" alt="alternative"></a>
                                </div>
                            </div>
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <a class="popup-link" href="../images/villafleurie_t2_salon_1_wl81yXI.jpg" data-effect="fadeIn"><img
                                            class="img-fluid" src="../images/villafleurie_t2_salon_1_wl81yXI.jpg" alt="alternative"></a>
                                </div>
                            </div>
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <a class="popup-link" href="../images/villafleurie_t3_salon.jpg" data-effect="fadeIn"><img
                                            class="img-fluid" src="../images/villafleurie_t3_salon.jpg" alt="alternative"></a>
                                </div>
                            </div>
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <a class="popup-link" href="../images/villafleurie_t2_terrasse.jpg" data-effect="fadeIn"><img
                                            class="img-fluid" src="../images/villafleurie_t2_terrasse.jpg" alt="alternative"></a>
                                </div>
                            </div>
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <a class="popup-link" href="../images/villafleurie_t2_salle_de_bain.jpg" data-effect="fadeIn"><img
                                            class="img-fluid" src="../images/villafleurie_t2_salle_de_bain.jpg" alt="alternative"></a>
                                </div>
                            </div>
                            <!-- end of slide -->
                        </div> <!-- end of swiper-wrapper -->

                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->
                    </div> <!-- end of swiper container -->
                </div> <!-- end of slider-container -->
                <!-- end of image slider -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of description -->


<!-- Facilities -->
<div class="tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Des installations étonnantes</h2>
                <p class="p-heading">Tout ce dont vous avez besoin pour un séjour détendu. Les installations de
                    VillaFleurie ont été conçues pour répondre aux besoins des touristes très exigeants du monde
                    entier</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="villaTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab"
                           aria-controls="tab-1" aria-selected="true">
                            <i class="fas fa-utensils"></i><span>Restauration</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab"
                           aria-controls="tab-2" aria-selected="false">
                            <i class="fas fa-glass-martini-alt"></i><span>Terrasse</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab"
                           aria-controls="tab-3" aria-selected="false">
                            <i class="fas fa-sun"></i><span>Plages</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-5" data-toggle="tab" href="#tab-5" role="tab"
                           aria-controls="tab-5" aria-selected="false">
                            <i class="fas fa-car"></i><span>Parking</span>
                        </a>
                    </li>
                </ul>
                <!-- end of tabs links -->

                <!-- Tabs Content -->
                <div class="tab-content" id="villaTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid" src="../images/facilities-tab-1.jpg" alt="alternative">
                                </div> <!-- end of image-container -->
                            </div> <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h3>Délicieuse cuisine locale</h3>
                                    <p>La ville du Gosier possède de nombreux restaurants servant des plats délicieux
                                        issus de la cuisine locale et préparés à partir d'ingrédients provenant de
                                        fermes et de marchés locaux.</p>
                                    <p>Il n'est pas nécessaire de se dépêcher pour obtenir un bon repas, car les heures
                                        de service s'étendent tout au long de la journée.</p>
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h3>Belle terrasse pour le café et les apéros</h3>
                                    <p>Commencez votre journée de vacances par un café revigorant et choisissez de vous
                                        asseoir et de vous détendre ou de planifier vos excursions dans les sites
                                        historiques et touristiques environnants.</p>
                                    <p>Profitez du calme des lieux pour vous détendre l'après-midi autour d'un apéritif
                                        entre amis.</p>
                                    <a class="btn-solid-reg" href="article.html">Article</a> <a class="btn-outline-reg"
                                                                                                href="contact.html">Contact</a>
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid" src="../images/facilities-tab-2.jpg" alt="alternative">
                                </div> <!-- end of image-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid" src="../images/facilities-tab-3.jpg" alt="alternative">
                                </div> <!-- end of image-container -->
                            </div> <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h3>Plages chaudes et eaux turquoises</h3>
                                    <p>Il y a deux belles plages ensoleillées près de la villa, équipées de chaises de
                                        plage, de parasols, d'un bar de plage et de douches.</p>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Exposition au soleil tout au long de la journée
                                                grâce à l'orientation.
                                            </div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Sable doré qui s'étend longuement dans l'eau</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Les équipements sont conçus pour offrir un maximum
                                                de détente
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="green" href="article.html">En savoir plus</a>
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-5" role="tabpanel" aria-labelledby="tab-5">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid rounded" src="../images/facilities-tab-5.jpg"
                                         alt="alternative">
                                </div> <!-- end of image-container -->
                            </div> <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h3>Plus besoin de s'inquiéter pour sa voiture</h3>
                                    <p>VillaFleurie offre un parking gratuit à tous ses clients dans une zone sûre et
                                        facile d'accès. Le parking est fermé pour vous offrir plus de tranquillité
                                        d'esprit.</p>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Accès gratuit pour tout type de voiture</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Profitez de votre séjour sans vous soucier de la
                                                voiture
                                            </div>
                                        </li>
                                    </ul>
                                    <p class="green"><strong>HORAIRE DE STATIONNEMENT : NON-STOP</strong></p>
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->
                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of tabs -->
<!-- end of facilities -->


<!-- Rooms -->
<div class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="green">Confort et détente</h2>
                <ul class="list-unstyled li-space-lg p-heading">
                    <li class="address">Les chambres de VillaFleurie offrent confort et détente. Elles comprennent
                        toutes:
                    </li>
                    <li><i class="fas fa-wifi"></i>Wi-Fi gratuit</li>
                    <li><i class="fas fa-bath"></i>Salle de bain privée</li>
                    <li><i class="fas fa-tablet"></i>Réfrigérateur</li>
                    <li><i class="fas fa-tv"></i>Écran large LCD</li>
                    <li><i class="fas fa-snowflake"></i>Climatisation</li>
                </ul> <!-- end of list-unstyled -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <a href="t2-corail.html"><img class="img-fluid" src="../images/villafleurie_t2_salon_1_wl81yXI.jpg"
                                                      alt="alternative"></a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">T2 Corail - 59€/nuit</h3>
                        <p>Envie d'un petit cocon ? Le T2 Corail vous offre toutes les commodités à un prix très
                            abordable.</p>
                        <a class="btn-solid-reg popup-with-move-anim" href="#header-details-lightbox">Réserver</a> <a
                            class="btn-outline-reg" href="t2-corail.html">Détails</a>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <a href="t3-azur.html"><img class="img-fluid" src="../images/villafleurie_t3_chambre.jpg"
                                                    alt="alternative"></a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">T3 Azur - 79€/nuit</h3>
                        <p>Besoin de plus d'espace ? En choisissant le T3 Azur, vous bénéficiez de tout le confort
                            qu'offre VillaFleurie.</p>
                        <a class="btn-solid-reg popup-with-move-anim" href="#header-details-lightbox">Réserver</a> <a
                            class="btn-outline-reg" href="t3-azur.html">Détails</a>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->

                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of rooms -->


<!-- Attractions -->
<!--<div class="cards-2 bg-gray">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <h2 class="green">Attractions populaires</h2>-->
<!--                <hr class="hr-heading">-->
<!--            </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->

<!--                &lt;!&ndash; Card &ndash;&gt;-->
<!--                <div class="card">-->
<!--                    <div class="card-image">-->
<!--                        <a class="green" href="article.html"><img class="img-fluid" src="../images/attraction-1.jpg"-->
<!--                                                                  alt="alternative"></a>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <p><strong class="green">AFITOS OLD TOWN:</strong> Full of historical importance for this part-->
<!--                            of the world, Afitos Old Towm will impress you... <a class="green" href="article.html">Read-->
<!--                                More >></a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; end of card &ndash;&gt;-->

<!--                &lt;!&ndash; Card &ndash;&gt;-->
<!--                <div class="card">-->
<!--                    <div class="card-image">-->
<!--                        <a class="green" href="article.html"><img class="img-fluid" src="../images/attraction-2.jpg"-->
<!--                                                                  alt="alternative"></a>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <p><strong class="green">NAVAGIO BEACH:</strong> Is the most famous beach at the Mediterranean-->
<!--                            sea with white sands and cool beach bars. In the week... <a class="green"-->
<!--                                                                                        href="article.html">Read More-->
<!--                                >></a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; end of card &ndash;&gt;-->

<!--                &lt;!&ndash; Card &ndash;&gt;-->
<!--                <div class="card">-->
<!--                    <div class="card-image">-->
<!--                        <a class="green" href="article.html"><img class="img-fluid" src="../images/attraction-3.jpg"-->
<!--                                                                  alt="alternative"></a>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <p><strong class="green">AEGEAN BELVEDERE:</strong> The best place to watch the sunset in a-->
<!--                            romantic atmosphere and maybe even drink a glass of wine... <a class="green"-->
<!--                                                                                           href="article.html">Read More-->
<!--                                >></a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; end of card &ndash;&gt;-->

<!--                &lt;!&ndash; Card &ndash;&gt;-->
<!--                <div class="card">-->
<!--                    <div class="card-image">-->
<!--                        <a class="green" href="article.html"><img class="img-fluid" src="../images/attraction-4.jpg"-->
<!--                                                                  alt="alternative"></a>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <p><strong class="green">JAMES WHITE HOUSE:</strong> Don't miss this great tourist attraction.-->
<!--                            The famous writer's house will fascinate literature... <a class="green" href="article.html">Read-->
<!--                                More >></a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; end of card &ndash;&gt;-->

<!--            </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--</div> &lt;!&ndash; end of cards-2 &ndash;&gt;-->
<!--&lt;!&ndash; end of attractions &ndash;&gt;-->


<!-- Testimonials -->
<div class="slider-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Avis</h2>
                <hr class="hr-heading">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card Slider -->
                <div class="slider-container">
                    <div class="swiper-container card-slider">
                        <div class="swiper-wrapper">

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="../images/avis-johann.webp" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Un grand merci pour l’accueil et pour votre
                                            sympathie. Merci également pour nous avoir arrangé sur l’heure d’arrivée. La
                                            location est simple, mais rien à redire. En revanche très utile le parking,
                                            car peu de place de stationnement. Un petit conseil pour la restauration, il
                                            faut aller chez Taillepierre qui est à 200m c'est à la bonne franquette,
                                            mais tellement bon</p>
                                        <p class="testimonial-author">Johann</p>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="../images/avis-nell.jpg" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Nilka et sa famille ont veillé à ce que nous
                                            passions un séjour incroyable, en nous récupérant à l'aéroport et en nous
                                            déposant, en nous donnant des conseils et des idées de choses à faire, en
                                            nous aidant avec tout ce dont nous avions besoin. L'endroit est lumineux,
                                            spacieux, propre et toutes les commodités ont bien fonctionné. L'emplacement
                                            est génial, tout ce dont vous pourriez avoir besoin au sein du Gosier est à
                                            moins de dix minutes à pied, y compris des magasins, un supermarché, un
                                            parc, la plage, des restaurants, des bars, et plus encore. Si vous souhaitez
                                            aller plus loin, il y a un arrêt de bus littéralement en haut de la rue, où
                                            vous pouvez vous rendre à Pointe-à-Pitre en 20 minutes, et de nombreux
                                            autres endroits très facilement. Nous avons passé un très bon moment!</p>
                                        <p class="testimonial-author">Nell</p>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="../images/testimonial-1.jpg" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Accueil et disponibilité des propriétaires.
                                            Situation géographique idéale (commerces, restaurants, plages, centre-ville,
                                            parking intérieur sécurisé)</p>
                                        <p class="testimonial-author">Thierry</p>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="../images/testimonial-2.jpg" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Propreté, accueil chaleureux, calme, situation
                                            centrale.</p>
                                        <p class="testimonial-author">Sylvie</p>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="../images/testimonial-3.jpg" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Bon accueil des propriétaires, toujours disponibles.
                                            Endroit calme avec jardin.</p>
                                        <p class="testimonial-author">Chantal</p>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="../images/testimonial-4.jpg" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Jacques et Hélène sont des hôtes très sympathiques.
                                            Le logement est très propre et fonctionnel. La maison a un jardin
                                            magnifiquement fleuri.</p>
                                        <p class="testimonial-author">André</p>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                        </div> <!-- end of swiper-wrapper -->

                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of card slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-2 -->
<!-- end of testimonials -->


<!-- Location -->
<div class="basic-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="green">Où nous trouver</h2>
                <ul class="list-unstyled li-space-lg p-heading">
                    <li class="address">Nous attendons votre visite</li>
                    <li><i class="fas fa-map-marker-alt"></i>VillaFleurie, 4 rue Gerty Archimède, 97190 Le Gosier,
                        Guadeloupe
                    </li>
                    <li><i class="fas fa-phone"></i><a class="green" href="tel:003024630820">+590 690 44 15 30</a></li>
                    <li><i class="fas fa-envelope"></i><a class="green" href="mailto:reception@villa.com">location.villafleurie@gmail.com</a>
                    </li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3831.2598078323063!2d-61.48991482394046!3d16.20707768449259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c134f148764f5d5%3A0x981bb218cee8b16c!2sVillaFleurie!5e0!3m2!1sfr!2sde!4v1685258248016!5m2!1sfr!2sde"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div> <!-- end of map-responsive -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of location -->

{% endblock %}